# PyCharm
.idea/workspace.xml

# Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb

# IPython
profile_default/
ipython_config.py

# Python cache
__pycache__

# papermill
*.papermill

# Financial Simulator
financial-simulator.toml
financial-simulator.db
financial-simulator.enc
financial-simulator.salt
financial-simulator.check
